<div class="dashboard">
  <div class="dashboard-link-container">
    <ul>
      <li><a href="/account">dashboard</a></li>
      <li><a href="/account/rides/offered/">offered rides</a></li>
      <li><a href="/account/requests">requests</a></li>
      <li><a href="/account/rides/scheduled">Scheduled rides</a></li>
    </ul>
  </div>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
</div>
