<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OneTheGo</title>

  <!-- CSS files -->
  <link rel="stylesheet" href="/CSS/index.css">
  <link rel="stylesheet" href="/CSS/nav.css">
  <link rel="stylesheet" href="/CSS/offer_ride.css">

  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>

  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>

  <!-- Javascript files are here -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="/JS/map.js" defer charset="utf-8"></script>
  <script src="/JS/offer_ride.js" defer charset="utf-8"></script>
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="body-container">
    <div class="map-container">
      <div id="googleMap">

      </div>
    </div>
    <div class="offer-form-container">
      <form id="offer-form">
        <div class="price-field">
          <input type="number" id="price">
        </div>
        <div class="seats-field">
          <input type="number" id="no-seat">
        </div>
        <div class="date-field">
          <input type="date" id="date" name='date'>
        </div>
        <div class="time-field">
          <input type="time" id="time" name="time">
        </div>
        <button>Offer Ride</button>
      </form>
    </div>
  </div>

</body>
</html>
